<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <p>This page will display all products in the system.</p>

    <main>
      <% if (products.length > 0) { %>
      <div class="grid">
        <% for (let product of products) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.product.title %></h1>
          </header>
          <div class="card__image">
            <img src="<%= product.product.imageURL %>" alt="A Book" />
          </div>
          <div class="card__content">
            <h2 class="product__price">$19.99</h2>
            <p class="product__description">
              A very interesting book about so many even more interesting
              things!
            </p>
            <p>You have put <%= product.quantity %> products into your cart!</p>
          </div>
          <div class="card__actions">
            <form action="/cart/delete/<%= product.product.id %>" method="POST">
              <input type="submit" value="Remove from Cart" />
            </form>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No Products Found!</h1>
      <% } %>
    </main>
  </body>

  <script type="text/javascript" src="../public/js/removeFromCart.js"></script>
</html>
