<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <p>This page will display all products in the system.</p>

    <main>
      <div class="grid">
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.title %></h1>
          </header>
          <div class="card__image">
            <img src="<%= product.imageURL %>" alt="A Book" />
          </div>
          <div class="card__content">
            <h2 class="product__price">$<%= product.price%></h2>
            <p class="product__description"><%= product.description%></p>
            <p class="product__description">Only <%= product.stock%> left!</p>
          </div>
          <div class="card__actions">
            <form action="/cart/add/<%= product._id %>" method="POST">
              <input type="submit" value="Add to Cart" />
            </form>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
